*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    gap: 14px;
}

input, button{
    padding: 10px 12px;
}

button{
    display: none;
}